composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/nbproject/private/
/.env
/DataTables.zip
/.build/
debian/.debhelper/generated/multiflexi.eu/dh_installchangelogs.dch.trimmed
debian/.debhelper/generated/multiflexi.eu/installed-by-dh_install
debian/.debhelper/generated/multiflexi.eu/installed-by-dh_installdocs
debian/multiflexi.eu/DEBIAN/control
debian/multiflexi.eu/DEBIAN/md5sums
debian/multiflexi.eu/DEBIAN/postinst
debian/multiflexi.eu/DEBIAN/postrm
debian/multiflexi.eu/DEBIAN/preinst
debian/multiflexi.eu/DEBIAN/prerm
debian/multiflexi.eu/usr/share/doc/multiflexi.eu/copyright
debian/multiflexi.eu/usr/share/doc/multiflexi.eu/changelog.gz
debian/multiflexi.eu/usr/share/doc/multiflexi.eu/README.Debian
debian/debhelper-build-stamp
debian/files
debian/multiflexi.eu.substvars
