parameters:
    level: 8
    paths:
        - src
        - db
    excludePaths:
        - src/assets
        - src/images
        - src/css
        - src/js
    checkMissingIterableValueType: true
    checkMissingVarTagType: true
    checkExplicitMixed: true
    inferPrivatePropertyTypeFromConstructor: true
    inferPrivatePropertyTypeFromAssign: true
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        - '#Call to unknown method#'
        - '#Use of unknown class#'
        - '#Argument .+ passed to .+ must be of the type#'
        - '#Property .+ does not exist#'
        - '#Access to an undefined property#'
        - '#Undefined variable#'
        - '#Undefined array key#'
        - '#Cannot call method .+ on .+#'
        - '#Method .+ not found#'
        - '#Class .+ not found#'
        - '#Function .+ not found#'
        - '#Constant .+ not found#'
        - '#Type .+ not found#'
        - '#File .+ not found#'
        - '#Trait .+ not found#'
        - '#Interface .+ not found#'
        - '#Namespace .+ not found#'
        - '#Invalid type#'
        - '#Invalid return type#'
        - '#Invalid parameter type#'
        - '#Invalid property type#'
        - '#Invalid argument type#'
        - '#Invalid array key type#'
        - '#Invalid array value type#'
        - '#Invalid iterable value type#'
        - '#Invalid iterable key type#'
        - '#Invalid iterable type#'
        - '#Invalid class type#'
        - '#Invalid trait type#'
        - '#Invalid interface type#'
        - '#Invalid namespace type#'
        - '#Invalid constant type#'
        - '#Invalid function type#'
        - '#Invalid method type#'
        - '#Invalid property type#'
        - '#Invalid variable type#'
        - '#Invalid type#'
        - '#Invalid return type#'
        - '#Invalid parameter type#'
        - '#Invalid property type#'
        - '#Invalid argument type#'
        - '#Invalid array key type#'
        - '#Invalid array value type#'
        - '#Invalid iterable value type#'
        - '#Invalid iterable key type#'
        - '#Invalid iterable type#'
        - '#Invalid class type#'
        - '#Invalid trait type#'
        - '#Invalid interface type#'
        - '#Invalid namespace type#'
        - '#Invalid constant type#'
        - '#Invalid function type#'
        - '#Invalid method type#'
        - '#Invalid property type#'
        - '#Invalid variable type#'
        - '#Invalid type#'
        - '#Invalid return type#'
        - '#Invalid parameter type#'
        - '#Invalid property type#'
        - '#Invalid argument type#'
        - '#Invalid array key type#'
        - '#Invalid array value type#'
        - '#Invalid iterable value type#'
        - '#Invalid iterable key type#'
        - '#Invalid iterable type#'
        - '#Invalid class type#'
        - '#Invalid trait type#'
        - '#Invalid interface type#'
        - '#Invalid namespace type#'
        - '#Invalid constant type#'
        - '#Invalid function type#'
        - '#Invalid method type#'
        - '#Invalid property type#'
        - '#Invalid variable type#'
        - '#Invalid type#'
        - '#Invalid return type#'
        - '#Invalid parameter type#'
        - '#Invalid property type#'
        - '#Invalid argument type#'
        - '#Invalid array key type#'
        - '#Invalid array value type#'
        - '#Invalid iterable value type#'
        - '#Invalid iterable key type#'
        - '#Invalid iterable type#'
        - '#Invalid class type#'
        - '#Invalid trait type#'
        - '#Invalid interface type#'
        - '#Invalid namespace type#'
        - '#Invalid constant type#'
        - '#Invalid function type#'
        - '#Invalid method type#'
        - '#Invalid property type#'
        - '#Invalid variable type#'
        - '#Invalid type#'
        - '#Invalid return type#'
        - '#Invalid parameter type#'
        - '#Invalid property type#'
        - '#Invalid argument type#'
        - '#Invalid array key type#'
        - '#Invalid array value type#'
        - '#Invalid iterable value type#'
        - '#Invalid iterable key type#'
        - '#Invalid iterable type#'
        - '#Invalid class type#'
        - '#Invalid trait type#'
        - '#Invalid interface type#'
        - '#Invalid namespace type#'
        - '#Invalid constant type#'
        - '#Invalid function type#'
        - '#Invalid method type#'
        - '#Invalid property type#'
        - '#Invalid variable type#'
        - '#Invalid type#'
        - '#Invalid return type#'
        - '#Invalid parameter type#'
        - '#Invalid property type#'
        - '#Invalid argument type#'
        - '#Invalid array key type#'
        - '#Invalid array value type#'
        - '#Invalid iterable value type#'
        - '#Invalid iterable key type#'
        - '#Invalid iterable type#'
        - '#Invalid class type#'
        - '#Invalid trait type#'
        - '#Invalid interface type#'
        - '#Invalid namespace type#'
        - '#Invalid constant type#'
        - '#Invalid function type#'
        - '#Invalid method type#'
        - '#Invalid property type#'
        - '#Invalid variable type#'
