Package: multiflexi-eu-mysql
Source: multiflexi.eu
Version: 0.1.0
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 338
Depends: debconf (>= 0.5) | debconf-2.0, multiflexi-eu, dbconfig-mysql, php-mysql
Suggests: mariadb-server
Breaks: multiflexi-eu-sqlite (<< 0.1.0)
Provides: multiflexi-eu-database
Section: web
Priority: optional
Homepage: https://multiflexi.eu
Description: MySQL/MariaDB database backend for multiflexi.eu
 MySQL/MariaDB database support for the MultiFlexi hub website.
 Recommended for production deployments.
